	.big-poke {
		margin-top: 15%;
	}
	.bordeable {
		border: 1px solid black;
	}
	.poke-btn {
		margin: 5px 5px 5px 5px;
		height: 128px;
		padding: 0 0 0 0;
		width: 128px;
	}
	.game-header span {
		/*background: url("img/pokeball.png") no-repeat center center;*/
	}
	.poke-btn img {
		height: 64px;
		margin-left: 4px;
		margin-top: 9px;
		width: 64px;
	}
	.poke-btn span {
		margin-left: 3px;
		margin-right: 3px;
		display: block;
		text-align: center;
	}
	.poke-messages {
		width: 200px;
		height: 300px;
	}